################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/videoDataset
/.vs
/slnx.sqlite
/.suo
/.vs/MiniMart/v16
/__pycache__
/datasetPreparation/label-studio/__pycache__
/model/annotateModelv3/predict
/model/annotateModelv3/val
