################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/videoDataset
/.vs
/slnx.sqlite
/.suo
/.vs/MiniMart/v16
/__pycache__
/datasetPreparation/label-studio/__pycache__
/model/annotateModelv3/predict
/model/annotateModelv3/val
/model/modelv11/predict
/model/modelv11/val
/model/annotationModelv11RF/predict
/model/annotationModelv11RF/val
/model/experiment/annotateModelv2/val
/model/experiment/annotateModelv3/predict
/model/experiment/annotateModelv3/val
